
import re2;

sub vcl_init {
{{- range $auth := .Auths}}
	new {{credsMatcher .Realm}} = re2.set(anchor=both);
	{{- range $cred := .Credentials}}
	{{credsMatcher $auth.Realm}}.add("Basic\s+\Q{{$cred}}\E\s*");
	{{- end}}
	{{credsMatcher .Realm}}.compile();
{{end -}}
}

sub vcl_recv {
{{- range .Auths}}
	if (
	    {{- range $cond := .Conditions}}
	    {{$cond.Comparand}} {{cmpRelation .Compare}} "{{.Value}}" &&
	    {{- end}}
	    {{- if eq .Status 401}}
	    !{{credsMatcher .Realm}}.match(req.http.Authorization)
	    {{- else}}
	    !{{credsMatcher .Realm}}.match(req.http.Proxy-Authorization)
	    {{- end}}
	   ) {
		{{- if .UTF8 }}
		set req.http.VK8S-Authenticate =
			{"Basic realm="{{.Realm}}", charset="UTF-8""};
		{{- else}}
		set req.http.VK8S-Authenticate = {"Basic realm="{{.Realm}}""};
		{{- end}}
		return(synth(60000 + {{.Status}}));
	}
{{- end}}
}

sub vcl_synth {
	if (resp.status == 60401) {
		set resp.http.WWW-Authenticate = req.http.VK8S-Authenticate;
		return(deliver);
	}
	if (resp.status == 60407) {
		set resp.http.Proxy-Authenticate = req.http.VK8S-Authenticate;
		return(deliver);
	}
}
