
import re2;
import selector;

{{range $didx, $d := .Dispositions -}}
{{range $cidx, $c := .Conditions -}}
{{if reqNeedsMatcher $c -}}
sub vcl_init {
	new {{reqObj $didx $cidx}} = {{vmod $c.Compare}}.set({{reqFlags $c}});
	{{- range $val := $c.Values}}
	{{reqObj $didx $cidx}}.add("{{$val}}");
        {{- end}}
        {{- if needsCompile $c.Compare}}
	{{reqObj $didx $cidx}}.compile();
	{{- end}}
}

{{end -}}
{{- end}}
{{- end}}
sub vcl_recv {
	{{- range $didx, $d := .Dispositions}}
	if (
	    {{- range $cidx, $cond := .Conditions}}
	    {{- if ne $cidx 0}} &&
            {{end}}
	    {{- if .Negate}}! {{end}}
	    {{- if reqNeedsMatcher $cond}}
	    {{- reqObj $didx $cidx}}.{{match .Compare}}({{.Comparand}})
	    {{- else if exists .Compare}}
	    {{- .Comparand}}
	    {{- else}}
            {{- .Comparand}} {{cmpRelation .Compare .Negate}} {{value $cond}}
	    {{- end}}
	    {{- end -}}
	   ) {
		return (
			{{- with .Disposition}}
			{{- if eq .Action "synth"}}synth({{.Status}})
			{{- else}}{{.Action}}
			{{- end}}
			{{- end -}}
		       );
	}
	{{- end}}
	return (hash);
}
